<div class="container">
  <h1>Dashboard</h1>
  <div id="myrocks">
    <h2>Mes cailloux</h2>
    <ul>
      <% @rocks.each do |rock| %>
        <li>
          <%= link_to rock.name, rock_path(rock) %> : <%= rock.price %>€
        </li>
      <% end %>
    </ul>
  </div>

  <div id="myrequests">
    <h2>Mes locations</h2>
    <ul>
      <% @requests.each do |request| %>
        <li>
          <%= link_to request.date, request_path(request) %> : <%= request.rock.name %> qui appartient à <%= request.rock.user.first_name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
