<div class="data" data-controller="dashboard">

<div class="d-flex justify-content-center">
<% if current_user.rocks.exists? %>
  <button class="btn nofocus btn-outline-secondary btn-lg text-center" data-dashboard-target="propriobtn" data-action="click->dashboard#toggleToProprio">
    Mes cailloux
  </button>
<% end %>

  <button class="btn nofocus btn-outline-primary btn-lg text-center" data-dashboard-target="loueurbtn" data-action="click->dashboard#toggleToLoueur">
    Mes locations
  </button>
</div>

<div class="d-none" id="proprio" data-dashboard-target="proprio">
  <% if current_user.rocks.exists? %>
    <div>
    <% if @rents.exists? %>
        <div id="myrents">
            <h2>Demandes à traiter</h2>
            <ul class="justify-content-center">
              <% @rents.each do |rent| %>
                <li>
                   <span class="badge bg-secondary"><%= rent.status %></span> <%= rent.rock.name %> demandée par <%= rent.user.first_name %>, du <%= rent.date %> au <%= rent.end_date %> <%= link_to "Voir les détails", request_path(rent) %>
                   <% if rent.status == "En attente de validation"%>
                   <%= link_to "✔️", accept_request_path(rent), :method => 'patch' %> / <%= link_to "❌", decline_request_path(rent), :method => 'patch' %>
                   <% end %>
                </li>
              <% end %>
            </ul>
          </div>
      <%end%>

      <div id="myrocks">
        <h2>Mes cailloux</h2>
        <ul class="d-flex justify-content-center">
        <% @rocks.each do |rock| %>
        <div class="col-md-3">
        <div class="card-full">
            <div class="card mb-3 border-0">
                <img src= <%=  cl_image_path(rock.photo.key, height: 300) %> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to "#{rock.name.capitalize}", rock_path(rock)%></h5>
                    <p class="card-text"><%="#{rock.price}"%>€</p>
                </div>
            </div>
          </div>
        </div>
          <% end %>
      </ul>
      </div>


    </div>
    <%end%>
</div>


<div class="container" id="loueur" data-dashboard-target="loueur" >
  <div id="myrequests">
    <h2>Mes locations en cours et à venir</h2>
    <% unless @requests.empty? %>
      <ul class="d-flex justify-content-center">
        <% @requests.each do |request| %>
           <div class="col-md-3">
        <div class="card-full">
            <div class="card mb-3 border-0">
                <img src= <%=  cl_image_path(request.rock.photo.key, height: 300) %> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to "#{request.rock.name.capitalize}", request_path(request)%></h5>
                    <p class="card-text"><%="#{request.rock.price}"%>€<span class="badge bg-secondary"><%= request.status %></span></p>
                </div>
            </div>
          </div>
        </div>
          <% end %>
      </ul>
    <% else %>
      <p> Vous n'avez réservé aucun caillou :(</p>
      <%=link_to "Trouvez le caillou de vos rêves", rocks_path, class: "btn btn-primary mb-2" %>
    <% end %>
    <h3>Mes locations passées/refusées</h3>
    <ul>
        <% @pastrequests.each do |request| %>
          <li>
            <%= link_to request.date, request_path(request) %> : <%= request.rock.name %> appartenant à <%= request.rock.user.first_name %> <span class="badge bg-secondary"><%= request.status %></span>
          </li>
        <% end %>
    </ul>
  </div>

</div>


</div>
