<h1>Dashboard</h1>

<div class="d-flex">


<% if current_user.rocks.exists? %>
<div class="container border">

  <div id="myrocks">
    <h2>Mes cailloux</h2>
    <ul>
      <% @rocks.each do |rock| %>
        <li>
          <%= link_to rock.name, rock_path(rock) %> : <%= rock.price %>€
        </li>
      <% end %>
    </ul>
  </div>

 <div id="myrents">
    <h2>Demandes de location</h2>
    <ul>
      <% @rents.each do |rent| %>
        <li>
          <%= link_to rent.date, request_path(rent) %> : <%= rent.rock.name %> demandée par <%= rent.user.first_name %>, du <%= rent.date %> au <%= rent.end_date %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
<%end%>

<div class="container border">

  <div id="myrequests">
    <h2>Mes locations</h2>
    <ul>
      <% @requests.each do |request| %>
        <li>
          <%= link_to request.date, request_path(request) %> : <%= request.rock.name %> qui appartient à <%= request.rock.user.first_name %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

</div>
