<div class="data" data-controller="dashboard">

<div class="d-flex text-center justify-content-center" id="interfacebtn">
  <% if current_user.rocks.exists? %>
    <button class="btn nofocus btn-outline-secondary btn-lg text-center" data-dashboard-target="propriobtn" data-action="click->dashboard#toggleToProprio">
      Mes cailloux
    </button>

    <button class="btn nofocus btn-outline-primary btn-lg text-center" data-dashboard-target="loueurbtn" data-action="click->dashboard#toggleToLoueur">
      Mes locations
    </button>
  <% end %>
</div>

<div class="d-flex justify-content-center" id="proprio" data-dashboard-target="proprio">
  <% if current_user.rocks.exists? %>
    <div>
    <% if @urgentrents.exists? %>
        <div id="myurgentrents">
            <h2>Demandes à traiter</h2>
              <% @urgentrents.each do |rent| %>
                  <div class="dash-product">
                    <img src=<%= cl_image_path(rent.rock.photo.key) %> />
                    <div class="dash-product-infos">
                      <h2><%= rent.rock.name %></h2>
                      <span class="badge bg-secondary"><%= rent.status %></span> Demande par <%= rent.user.first_name %>, du <%= rent.date %> au <%= rent.end_date %> <%= link_to "Voir les détails", request_path(rent) %>
                      <%= link_to "✔️", accept_request_path(rent), :method => 'patch' %> / <%= link_to "❌", decline_request_path(rent), :method => 'patch' %>
                    </div>
                  </div>
              <% end %>
          </div>
      <%end%>

      <div id="myrocks" class= "d-flex">
        <div id="mycollection">
        <h2>Mes cailloux</h2>
        <div class="container-fluid container py-3 mt-4" id="top">
          <div class="d-flex">
            <% @rocks.each do |rock| %>
            <div class="mx-3">
            <%= link_to rock_path(rock), :action => 'get' do %>
              <div class="card mb-3 border-0" id="cardinv">
                <img src= <%=  cl_image_path(rock.photo.key, height: 300) %> class="card-img-top" alt="...">
                    <div class="card-body rounded-bottom">
                    <div class="title-price-index">
                      <h5> <%= rock.name.capitalize %> </h5>
                      <div class="product-price-index">
                          <p><%= rock.price %>€/j</p>
                      </div>
                    </div>
                        <div class="product-text-index">
                          <h5 class="dash-title"><%= link_to "🗑️", rock_path(rock.id), id: "deletebtn", method: :delete, confirm: "Are you sure?" %></h5>
                        </div>
                    </div>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        </div>

        <div id="myrents">
            <h2>Historique des demandes</h2>
            <ul class="justify-content-center">
              <% @okrents.each do |rent| %>
                <%= link_to request_path(rent), :action => 'get' do %>
                <li>
                   <div class="dash-product">
                  <img src=<%= cl_image_path(rent.rock.photo.key) %> />
                  <div class="dash-product-infos">
                    <h2><%= rent.rock.name %></h2>
                    <span class="badge bg-secondary"><%= rent.status %></span> Demande par <%= rent.user.first_name %>, du <%= rent.date %> au <%= rent.end_date %> <%= link_to "Voir les détails", request_path(rent) %>
                    <% if rent.status == "En attente de validation"%>
                   <%= link_to "✔️", accept_request_path(rent), :method => 'patch' %> / <%= link_to "❌", decline_request_path(rent), :method => 'patch' %>
                   <% end %>
                   </div>
                   </div>
                </li>
                <% end %>
              <% end %>
            </ul>
          </div>

      </div>


    </div>
    <%end%>
</div>



<% if current_user.rocks.exists? %>
<div class="container  d-none" id="loueur" data-dashboard-target="loueur" >
<% else %>
<div class="container" id="loueur" data-dashboard-target="loueur" >
<% end %>
    <h2>Mes réservations</h2>
    <% unless @requests.empty? %>
          <% @requests.each do |request| %>
          <%= link_to request_path(request), :action => 'get' do %>
                   <div class="dash-product mx-auto">
                      <img src=<%= cl_image_path(request.rock.photo.key) %> />
                      <div class="dash-product-infos mx-auto">
                        <h2><%= request.rock.name %></h2>
                        <h2><span class="badge bg-secondary"><%= request.status %></span></h2>
                        Du <%= request.date %> au <%= request.end_date %>
                        <h2><%= link_to "Voir les détails", request_path(request) %></h2>
                      </div>
                   </div>
            <% end %>
          <% end %>
    <% else %>
    <div id="norent">
      <%= image_tag "sadrock.jpg", class: "sadrock" %>
      <p> Vous n'avez réservé aucun caillou :(</p>
      <%=link_to "Trouvez le caillou de vos rêves", rocks_path, class: "btn btn-primary mb-2 col-6" %>
     </div>
    <% end %>
</div>
</div>
