<div class = "container-fluid justify-content-between" >

  <div class="card-product col-6">
    <img src=<%= cl_image_path(@request.rock.photo.key, height: 300)%>>
    <div class="card-product-infos">
      <h2><%= @request.rock.name %></h2>
      <p>Du <%= @request.date %> au <strong> <%= @request.end_date %></strong> Get your rock on ! <%= @request.rock.user.first_name %></p>
    </div>
  </div>
</div>
