<div class="banner mb-3" style="background-image: url('<%=cl_image_path("zeny-rosalina-lZWwcP1Vdbw-unsplash-min_ohwjpz.jpg")%>');">
  <div class="container">
    <h1>Check out <strong>the coolest rock</strong> in your town !</strong>!</h1>
   <%= link_to "Rent your rock", new_rock_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="container">
  <h1>Browse</h1>

  <div class="cards ml-3 mr-3">
    <% @rocks.each do |rock| %>
      <div class="card">
        <div class="card-category"  style="background-image: url('<%=  cl_image_path((rock.photo.attached? ? rock.photo.key : "zeny-rosalina-lZWwcP1Vdbw-unsplash-min_ohwjpz"), height: 300) %>')">
          <%= link_to "#{rock.name}", rock_path(rock), class: "btn btn-gradient" %>
          <%= link_to '', rock, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
