<%# <div class="container-fluid col-12"> %>
  <div class="banner">
    <div class="container">
      <h1>Allergique aux animaux et pas la main verte ? <br> Faites d'une <strong>pierre</strong> 2 coups et louez un <strong>caillou</strong>!</h1>
        <%= link_to "Trouvez le caillou idéal!", "#top", class: "btn btn-ghost-banner mt-3"%>
    </div>
  </div>


  <div class="container-fluid container py-3 mt-4" id="top">
    <div class="row mt-4">
      <% @rocks.each do |rock| %>
      <div class="col-md-3">
      <%= link_to rock_path(rock), :action => 'get' do %>
        <div class="card mb-3 border-0">
          <img src= <%=  cl_image_path(rock.photo.key, height: 300) %> class="card-img-top" alt="...">
              <div class="card-body rounded-bottom">
              <div class="title-price-index">
                <h5> <%= rock.name.capitalize %> </h5>
                <div class="product-price-index">
                    <p><%= rock.price %>€/j</p>
                </div>
              </div>
                  <div class="product-text-index">
                    <h2><i class="bi bi-heptagon m-1"></i><%= rock.shape %></h2>
                    <h2><i class="bi bi-palette m-1"></i><%= rock.color %></h2>
                    <h2><i class="bi bi-geo-alt m-1"></i><%= rock.user.address.split.last %></h2>
                  </div>
              </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
<%# </div> %>
