
<div class="container-fluid container col-3">
  <h1>Add a new Rock to rent!</h1>
</div>

<div class="container-fluid container">
  <%= simple_form_for [@rock] do |f| %>
    <%= f.input :name %>
    <%= f.input :color,:collection => [:blue, :red, :yellow, :black, :grey, :green, :white] %>
    <%= f.input :shape,:collection => [:round, :pointy, :big, :sharp, :transparent] %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
