
<div class="container responsive-form formidable">
  <h1>Partager votre cailloux!</h1>

  <%= simple_form_for [@rock] do |f| %>
    <%= f.input :name, label: 'Nom' %>
    <%= f.input :color,:collection => [:bleu, :rouge, :jaune, :noir, :gris, :violet, :blanc], label: 'Couleur' %>
    <%= f.input :shape,:collection => [:rond, :pointu, :grand, :aiguisé], label: 'Forme' %>
    <%= f.input :price, label: 'Prix' %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <div class="d-grid mx-auto">
      <%= f.button:submit, 'Créer mon cailloux!', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
