<%# product info and price %>
<div class="container">
  <div class="wrapper">
    <div class="product-img">
      <img src= <%=  cl_image_path(@rock.photo.key)%> height="420" width="auto">
    </div>

    <div class="product-info">
      <div class="product-title m-4">
        <h1><%= @rock.name.capitalize %></h1>
      </div>
      <div class="product-text">
        <h2><%= @rock.shape %></h2>
        <h2><%= @rock.color %></h2>
        <div class="text-truncate">
          <p><%= @rock.description %></p>
        </div>
        <div class="product-price text-right m-4">
          <p><%= @rock.price %>€</p>
        </div>
      </div>
    </div>

    <div class="form-group-row m-4">
      <% if user_signed_in? %>
        <%= simple_form_for [@rock, @request] do |f| %>
        <%= f.error_notification %>
        <%= f.input :date, html5: true %>
        <%= f.input :end_date, html5: true %>
        <%= f.button :submit, class: "btn-primary" %>
        <% end %>
      <% else %>
        <%= link_to "Enregistrez vous et louez ce caillou!", new_user_session_path, class: "btn btn-gradient" %>
      <% end %>
    </div>
  </div>
  <div class="map">
  </div>
</div>
