<!DOCTYPE html>
<html>
  <head>
    <title>RockyAloha</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>



  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-rockyaloha">
  <div class="container-fluid">
    <a class="navbar-brand" href=<%= rocks_path %>>
      <img src="https://res.cloudinary.com/dwcmq45ak/image/upload/v1653313787/rocky_aloha_logo_yshn7p.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href=<%= new_rock_path %>>Create Rock</a>
          </li>
          <% if user_signed_in? %>
            <p> <%= current_user.first_name %> </p>
          <% end %>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dwcmq45ak/image/upload/v1653314090/MoerakiBouldersSunrise_hpd1ny.png" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <a class="dropdown-item" <%=link_to('Dashboard', dashboard_path)%> </a>
                <a class="dropdown-item" <%=link_to('Logout', destroy_user_session_path, :method => 'delete')%> </a>
                  <% else %>
                <a class="dropdown-item" href=<%= new_user_session_path %>>Login</a>
              <% end %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

    <%= yield %>

    <%= render 'shared/flashes' %>
  </body>
</html>
